nav {
    margin-bottom:5.55rem;
    @media (max-width:991px) {
        margin-bottom: 1.5rem;
    }
}
.titel {
color: #000;
text-align: center;
font-size: 1.125rem;
font-style: normal;
font-weight: 800;
line-height: normal;
@media (max-width:991px) {
    font-size: 0.9rem;
}

}

.logo {
max-width: 9.4375rem;
max-height: 3.9375rem;
}

.NavLink {
color: #000;
text-align: center;
font-size: 1.125rem;
font-style: normal;
font-weight: 800;
line-height: normal;
cursor: pointer;
 }