.Heilighta_container {
    background-color: #5CD65C;
    height: 418px;
    margin: 10rem 0;
}
.small_logo {
width: 117px;
height: 44.151px;
margin-bottom: 3.55rem;
}

.pargraf {
color: #FFF;
text-shadow: 0px 0px 33.5px #000;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}